# Environment variables - DO NOT COMMIT!
.env

# Sensitive credentials for the admin app
credentials.json

# Python cache
__pycache__/
*.pyc

# PyInstaller build artifacts
dist/
build/
*.spec

# Virtual environment folder
venv/
.venv/

# IDE settings
.idea/
.vscode/
