# ឯកសារបរិស្ថាន និងកូដសម្ងាត់ (សំខាន់ណាស់ ហាម Backup ចូល Public)
.env
venv/
env/

# ឯកសារ Python Cache
__pycache__/
*.pyc

# ឯកសារដែលបាន Build រួចពី PyInstaller
build/
dist/
*.spec

# រូបភាព ឬឯកសារដែលអតិថិជន Upload
static/uploads/